@{
    ViewBag.Title = "About";
    ViewBag.Header = ViewBag.Title.ToUpper();
}

@ViewBag.Content <!-- Render content -->


<div id="header-about-image" class="container-fluid header-image">

</div>
<div class="container">
    <div class="row">
        <article class="col-12 col-sm-12">
            <section>
                <h1>WE HAVE FREE TEMPLATES FOR EVERYONE</h1>
                <p>Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! You can do a lot with them. You can modify them.</p>
                <p>You can use them to design websites for clients, so long as you agree with the Terms of Use. You can even remove all our links if you want to.</p>
            </section>
            <section>
                <h1>WE HAVE MORE TEMPLATES FOR YOU</h1>
                <p>Looking for more templates? Just browse through all our Free Website Templates. But if you can’t find any website templates you can use, try our Free Web Design service and tell us all about it. We love a good challenge!</p>
            </section>
            <section>
                <h1>TEMPLATE DETAILS</h1>
                <span>Design Version 1.</span><br />
                <span>Code Version 1.</span>
                <p>Website Template details, discussion and updates for this Frozen Yogurt Shop Website Template.</p>
                <p>Website Template design by Tomáš Švejnoha.</p>
            </section>
        </article>
    </div>
</div>