<div class="container">
    <div class="row">
        <div id="homepage-intro-image" class="col-12">
            <img src="~/Content/images/bg-home.png" alt="Freeeze" />
        </div>
    </div>    
    <div id="" class="row">
        
    </div>
</div>
<div id="latest-product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                        <h1>NEW PRODUCT</h1>
                        <h2>The Twist of Healthy Yogurt</h2>
                        <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.</p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/images/yogurt.jpg" alt="Yogurt" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>