html {
    position: relative;
    min-height: 100%;
}

body {
    /*padding-top: 4.1rem;*/
    margin-bottom: 110px; /* Margin bottom by footer height */
    background-color: #F8F9FA;
}

#mainnav {
    padding: 27px 0;
}

#latest-product{
    background-color: rgb(235,231,232);
    margin-top: 30px;
    padding-top: 20px;
    box-sizing: border-box;
}

#page-title {
    background-color: #c8c10d;
    color: white;
}

    #page-title h1 {
        padding: 28px 0 23px;
        margin-bottom: 0;
    }

.fa-icons-white a, .fa-icons-white a:hover {
    color: white;
}

.header-image {
    height: 249px;
    margin: 0 0 15px 0;
    background-size: cover;
    background-position: center;
}

#header-about-image {
    background-image: url('images/bg-header-about.jpg');
}
#header-contact-image {
    background-image: url('images/map.jpg');
}
footer {
    padding-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, .3);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #cb3362;
}

.fa-footer-icons {
    margin: 10px 0 10px 0;
}

    .fa-footer-icons a {
        margin: 0 7px;
    }

.blog-header {
    margin-bottom: 15px;
}
.blog-article {
    margin-bottom: 30px;
    padding-bottom: 15px;
    /*border-bottom: 1px solid #cbb5bc;*/
}
#page-aside {
    padding: 40px 15px 60px 15px;
    background-color: rgb(239,237,238);
}