@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
 }

<div class="row">
    <div class="col-12 text-center">
        <h2>Welcome to Freeeze administration page</h2>
        <p>This is a DEMO version of Freeeze project.</p>
        <p>Search option will be added in next PRO version. Stay tuned.</p>
        <p>
            <span class="font-weight-bold">Author: </span><a href="mailto:tomas.svejnoha@gmail.com">Tomáš Švejnoha</a>
            <br />
            <span class="font-weight-bold">Project version: </span>v0.1 (Beta)
        </p>
        <p class="text-uppercase font-weight-bold">May the code be with you</p>
    </div>
</div>